<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>LIVERY KEYNOTE</string>
		<key>subtitle</key>
		<string>ft. KIM SELTZER &amp; ALIYA KAMALOVA</string>
		<key>picture</key>
		<string>2</string>
	</dict>
	<dict>
		<key>title</key>
		<string>CANCER FEST</string>
		<key>subtitle</key>
		<string>ft. NICK CIARELLI &amp; BRAD EVANS</string>
		<key>picture</key>
		<string>9</string>
	</dict>
	<dict>
		<key>title</key>
		<string>COWBOY MUSIC FEST</string>
		<key>subtitle</key>
		<string>ft. THE COOTIES</string>
		<key>picture</key>
		<string>1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>WASTE TECH TRADE SHOW</string>
		<key>subtitle</key>
		<string>ft. LILY SULLIVAN &amp; KATY FULLAN</string>
		<key>picture</key>
		<string>4</string>
	</dict>
</array>
</plist>
